<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angara.Serialization" version="0.3.0" targetFramework="net461" />
  <package id="Angara.Statistics" version="0.1.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="FSharp.Data" version="3.0.0" targetFramework="net461" />
  <package id="Itis.Angara.Table" version="0.3.4" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>